<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charusathostels.changahostels">

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ohmrooms"
            android:label="OHM ROOMS"></activity>
        <activity
            android:name=".darrooms"
            android:label="DARSHAN ROOMS" />
        <activity
            android:name=".ashrooms"
            android:label="ASHIRWAD ROOMS" />
        <activity
            android:name=".shrdprooms"
            android:label="SHREEDEEP ROOMS" />
        <activity
            android:name=".nisrooms"
            android:label="NISARG ROOMS" />
        <activity
            android:name=".nlkrooms"
            android:label="NILKANTH ROOMS" />
        <activity
            android:name=".splashscreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nlk"
            android:label="NILKANTH HOSTEL" />
        <activity
            android:name=".shrdp"
            android:label="SHREEDEEP HOSTEL" />
        <activity
            android:name=".dar"
            android:label="DARSHAN HOSTEL" />
        <activity
            android:name=".nis"
            android:label="NISARG HOSTEL" />
        <activity
            android:name=".nlkfees"
            android:label="@string/nilkanth_fees" />
        <activity
            android:name=".ohm"
            android:label="OHM HOSTEL" />
        <activity
            android:name=".ash"
            android:label="ASHIRWAD HOSTEL" />
        <activity
            android:name=".shrdpfees"
            android:label="@string/shreedeep_fees" />
        <activity
            android:name=".nisfees"
            android:label="@string/nisarg_fees" />
        <activity
            android:name=".ohmfees"
            android:label="@string/ohm_fees" />
        <activity
            android:name=".darfees"
            android:label="@string/darshan_fees" />
        <activity
            android:name=".ashfees"
            android:label="@string/ashirwad_fees" />
        <activity
            android:name=".nlkaddress"
            android:label="@string/nilkanth_address" />
        <activity
            android:name=".shrdpaddress"
            android:label="@string/shreedeep_address" />
        <activity
            android:name=".daraddress"
            android:label="@string/darshan_address" />
        <activity
            android:name=".ashaddress"
            android:label="@string/ashirwad_address" />
        <activity
            android:name=".nisaddress"
            android:label="@string/nisarg_address" />
        <activity
            android:name=".ohmaddress"
            android:label="@string/ohm_address" />
        <activity
            android:name=".nlkcontact"
            android:label="@string/nilkanth_contact" />
        <activity
            android:name=".shrdpcontact"
            android:label="@string/shreedeep_contact" />
        <activity
            android:name=".niscontact"
            android:label="@string/nisarg_contact"/>
        <activity
            android:name=".ohmcontact"
            android:label="@string/ohm_contact"/>
        <activity
            android:name=".nlkspecialfaci"
            android:label="@string/nilkanth_special_facilities"/>
        <activity
            android:name=".shrdpspecialfaci"
            android:label="@string/shreedeep_special_facilities"/>
        <activity
            android:name=".darspecialfaci"
            android:label="@string/darshan_special_facilities"/>
        <activity
            android:name=".nisspecialfaci"
            android:label="@string/nisarg_special_facilities"/>
        <activity
            android:name=".ohmspecialfaci"
            android:label="@string/ohm_special_facilities"/>
        <activity
            android:name=".ashspecialfaci"
            android:label="@string/ashirwad_special_facilities"/>
        <activity
            android:name=".MainActivity"
            android:label="CHANGA HOSTELS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".darcontact"
            android:label="@string/darshan_contact" />
        <activity
            android:name=".ashcontact"
            android:label="@string/ashirwad_contact" />
        <activity
            android:name=".shrdpdining"
            android:label="@string/shreedeep_dining" />
    </application>

</manifest>